<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(https://cdn.discordapp.com/attachments/986742339005452332/986804445679607828/images_remoraupscaled.png)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2"><span></span></a>
            <h5 class="text-muted fw-normal mb-4">Content de te revoir! Connectez-vous à votre compte.</h5>
            <form class="forms-sample" (ngSubmit)="submit()" [formGroup]="form">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email </label>
                <input type="text" formControlName="username" name="username" class="form-control"
                placeholder="Entrer email" [ngClass]="{'is-invalid': submitted && f.username.errors}">

                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">
                   E-mail est requis

                  </div>
                  <div *ngIf="f.username.errors.email">
                    L'e-mail doit être une adresse e-mail valide
                   </div>
              </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe
                </label>
                <input type="password" formControlName="password" name="password" class="form-control"
                placeholder="Entrer mot de passe" [ngClass]="{'is-invalid': submitted && f.password.errors}">

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">
                    Mot de passe est requis

                  </div>
                  <div *ngIf="f.password.errors.minlength">
                    Le mot de passe doit être au moins de 6 caractères
                   </div>
              </div></div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  Souviens- moi
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" > Se Connecter
                </button>
               
              </div>
              <a routerLink="/auth/register" class="d-block mt-3 text-muted">
                Vous n'êtes pas utilisateur ? S'inscrire</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
