<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(https://media.discordapp.net/attachments/937990478035570722/992150514949161110/unknown.png)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2"><span></span></a>
            <h5 class="text-muted fw-normal mb-4">
              Créer un compte gratuit.</h5>
            <form class="forms-sample" (ngSubmit)="submit()" [formGroup]="form">
              <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">
                  Nom d'utilisateur</label>
                <input type="text" formControlName="name" name="name" class="form-control"
                placeholder="Entrer Name" [ngClass]="{'is-invalid': submitted && f.name.errors}">

              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">
                Le nom est requis

              </div>
          </div>    </div>
              <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">
                  Email</label>
                <input type="text" formControlName="email" name="email" class="form-control"
                placeholder="Entrer email" [ngClass]="{'is-invalid': submitted && f.email.errors}">

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">
                    E-mail est requis
                  </div>
                  <div *ngIf="f.email.errors.email">
                    E-mail doit être une adresse e-mail valide
                   </div>
              </div></div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                <input type="password" formControlName="password" name="password" class="form-control"
                placeholder="Entrer mot de passe" [ngClass]="{'is-invalid': submitted && f.password.errors}">

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">
                    Mot de passe est requis
                  </div>
                  <div *ngIf="f.password.errors.minlength">
                   Le mot de passe doit être au moins de 6 caractère
                   </div>
              </div></div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirmer mot de passe</label>
                <input type="text" formControlName="confirmPassword" name="confirmPassword" class="form-control"
                placeholder="Entrer Mot de passe de confirmation" [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}">

                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">
                    Mot de passe de confirmation est requis
                  </div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">
                    Le mot de passe doit correspondre
                   </div>
              </div></div>

             
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="submit()"> S'inscrire
                </button>
               
              </div>
              
              <a routerLink="/auth/login" class="d-block mt-3 text-muted">Déjà utilisateur ? Se connecter</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
