<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Liste Camions</li>

  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
          <!-- Button trigger modal -->

          <!-- Modal -->
        <h6 class="card-title">Liste Camions  <button id="ajout" class="btn btn-primary" (click)="openScrollableModal(scrollableModal)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck link-icon" _ngcontent-wkw-c113="" appfeathericon=""><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>&nbsp;Ajouter Camion</button></h6>

        <div class="table-responsive">


          <table id="dataTableExample" class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Modele</th>
                <th>Matricule</th>
                <th>Couleur</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let camion of camions">  <!--<tbody let camion of comions>-->
              <tr>
              <td>{{camion.id}}</td>
              <td>{{camion.modele}}</td>
              <td>{{camion.matricule}}</td>
              <td>{{camion.couleur}}</td>
         
              <td>
                <button  class="btn btn-sm btn-info"> <i id="myicon1" class="fa fa-search"></i>Details</button>
                <button  class="btn btn-sm btn-warning"> <i id="myicon2" class="fa fa-edit"></i>Modifier</button>
                <button  class="btn btn-sm btn-danger"> <i id="myicon3" class="fa fa-remove"></i>Supprimer</button>
              </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>

    <div class="example">
      <!-- Button trigger modal -->
        <!-- Modal -->
      <ng-template #scrollableModal let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter Camion</h5>
          <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
        </div>
        <div class="modal-body">

           <!-- Form Ajout  -->
           <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="mb-3">
                    <label for="exampleInputPlaceholder" class="form-label">Modele</label>
                    <input type="text" class="form-control" id="exampleInputPlaceholder" placeholder="Enter Your Name">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPlaceholder" class="form-label">Matricule</label>
                    <input type="text" class="form-control" id="exampleInputPlaceholder" placeholder="Enter Your Name">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPlaceholder" class="form-label">Couleur</label>
                    <input type="text" class="form-control" id="exampleInputPlaceholder" placeholder="Enter Your Name">
                  </div>
                  
            </div>
              </div>
            </div>
          </div>
              <!-- Form Ajout  -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Ajouter</button>
        </div>
      </ng-template>
    </div>


      </div>
    </div>
  </div>
</div>
