<div class="row">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Client</a></li>
      <li class="breadcrumb-item active" aria-current="page">Historique</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Historique</h6>
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Distance Parcourue</th>
                <th>Prix</th>
                <th>Date</th>
              </tr>
              <tr>
                <td>1</td>
                <td>140 km</td>
                <td>	80</td>
                <td>	14/09</td>
                <td>
            </thead>
            <tbody>
             
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
