<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Liste Clients</li>

  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
          <!-- Button trigger modal -->

          <!-- Modal -->
        <h6 class="card-title">Liste Clients  </h6>

        <div class="table-responsive">


          <table id="dataTableExample" class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                
                <th>Adresse</th>
                <th>Nombre de Voitures</th>
                <th>Etat</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of users ">  <!--<tbody let camion of comions>-->
              <tr>
              <td>{{user.id}}</td>
              <td>{{user.nom}}</td>
              <td>{{user.prenom}}</td>
            
              <td>{{user.adresse}}</td>
              <td>{{user.nombreVoitures}}</td>
              <td>{{user.etat}}</td>
              <td>
              <button type="button" class="btn btn-danger btn-icon"> <i data-feather="eye"></i> </button>&nbsp;
              <a routerLink="/admin/edit/{{user.id}}"  type="button" class="btn btn-warning btn-icon"> <i data-feather="edit"></i> </a>&nbsp;
              <a routerLink="/admin/delete/{{user.id}}}" type="button" class="btn btn-primary btn-icon"> <i data-feather="delete"></i></a>
              </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>

 


      </div>
    </div>
  </div>
</div>
